<form action="/" method="post" id="UserForm">
    <div class="form-row">
        <label for="userName">Benutzername</label>
        <input type="text" name="userName" id="userName" placeholder="Hier bitte einen Namen eingeben...">
    </div>
    <div class="form-validation">
        <span class="error" id="validationError" style="display: none">Benutzername darf nicht leer sein.</span>
    </div>
    <div class="form-controls">
        <button id="sendButton" type="submit">Starte Nachrichten</button>
    </div>
</form>
<script type="application/javascript" src="ValidateUser.js"></script>