<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Message App</title>
<link rel="stylesheet" href="main.css">

</head>
<body>
<div id="aussen">
<header>
 <h1>
     Eiscafé
    </h1>
</header>

{{{body}}}

</body>
</html>